# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================

.venv/
venv/
env/
ENV/

# =========================
# Environment Variables
# =========================

.env
.env.*
!.env.example

# =========================
# Jupyter Notebook
# =========================

.ipynb_checkpoints/

# =========================
# IDE / Editor
# =========================

.vscode/
.idea/

# =========================
# OS Files
# =========================

.DS_Store
Thumbs.db

# =========================
# RAG / Vector Database
# =========================

data/
chroma_db/

# =========================
# Logs
# =========================

*.log

# =========================
# Temporary Files
# =========================

*.tmp
*.temp
*.swp